@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 0.4rem;
  background-color: #dedede;
}

*::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  border-radius: 1rem;
}
